.principal {
  margin: 320px;
}

.logo {
  align-items: end;
  margin-bottom: 90px;
}

img {
  width: 90px;
}

.calculator {
  justify-content: flex-start;
}

.calculator p {
  font-size: 30px;
  width: 150px;
  margin: 0 40px 0 0;
}

.letters {
  font-size: 100px;
  width: 500px;
  line-height: 100px;
}
